<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>EAT-F : LOGIN</title>
  <link rel="stylesheet" href="/css/auth/login.css">
  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body>
<script type="text/javascript">
  function unlinkApp() {
    Kakao.API.request({
      url: '/v1/user/unlink',
      success: function(res) {
        alert('success: ' + JSON.stringify(res))
      },
      fail: function(err) {
        alert('fail: ' + JSON.stringify(err))
      },
    })
  }
</script>

<script type="text/javascript">
  Kakao.init('02897d39d8c6bf45014bb42dc359f7c3');
  console.log(Kakao.isInitialized());
  function kakaoLogin() {
    Kakao.Auth.login({
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
            console.log(response)
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
  //카카오로그아웃
  function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function (response) {
          console.log(response)
        },
        fail: function (error) {
          console.log(error)
        },
      })
      Kakao.Auth.setAccessToken(undefined)
    }
  }

</script>
<section class="login-form">
  <!--  onclick="location.href='/'-->
  <a th:href="@{/}"><img src="/images/eatf-logo.png" class="logo"/></a>
  <!-- <h1>EAT-F</h1> -->
  <form th:action="@{/auth/login}" method="post">
    <div class="int-area">
      <input type="email" name="id" id="email" autocomplete="off" required th:value="${id}">
      <label for="id">이메일</label>
    </div>
    <div class="int-area">
      <input type="password" name="password" id="pwd" autocomplete="off" required>
      <label for="pwd">비밀번호</label>
    </div>
    <input type="hidden" name="toURL" value="${param.toURL}"> <!-- TODO urt -->
    <div class="btn-area">
      <button id="btn" type="submit">로그인</button>
    </div>
    <input id="save_id" type="checkbox" name="saveEmail">이메일 저장<br>
  </form>

  <div id="result"></div>
  </div>
  <div class="caption1">
    <a href="">아이디 찾기</a>
  </div>
  <div class="caption2">
    <a href="">비밀번호 찾기</a>
  </div>
  <div>
    <ul>
      <li onclick="kakaoLogin();">
        <a href="javascript:void(0)">
          <span>카카오 로그인</span>
        </a>
      </li>
      <li onclick="kakaoLogout();">
        <a href="javascript:void(0)">
          <span>카카오 로그아웃</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
  let email = $('#email');
  let pwd = $('#pwd');
  let btn = $('#btn');

  $(btn).on('click', function () {
    if ($(email).val() == "") {
      $(email).next('label').addClass('warning');
      setTimeout(function () {
        $('label').removeClass('warning');
      }, 1500);
    } else if ($(pwd).val() == "") {
      $(pwd).next('label').addClass('warning');
      setTimeout(function () {
        $('label').removeClass('warning');
      }, 1500);
    }
  })
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>