<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="/css/notice/style.css" rel="stylesheet">
    <link href="/css/notice/noticeStyles.css" rel="stylesheet"/>

</head>
<body>
<!-------------------------------구분선-------------------------->
<div class="b-example-divider"></div>
<!------------------------------header------------------------------>
<div th:replace="/common/header.html :: fragment-header"></div>
<!------------------------------header 마지막------------------------------>

<!-------------------------------구분선-------------------------->
<div class="line-3"></div>
<div class="line-3"></div>
<!------------------------------nav------------------------------>
<div th:replace="/common/nav.html :: fragment-nav"></div>
<!------------------------------nav 마지막------------------------------>

<!-------------------------------구분선-------------------------->
<div class="a-example-divider"></div>

<!-- 부트스트랩 -->

<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">고객센터</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/notice/list}">공지사항</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">자주 묻는 질문</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/notice/noticeOne}">1:1 문의</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <h2 class="mt-4">공지사항</h2>

            <!--  테이블 부트스트랩   -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>-</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

<!-- Bootstrap core JS 적용시 고객센터 등 드롭다운 불가-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!-- Core theme JS-->
<script src="/js/notice/notice.js"></script>

</body>
</html>





<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <style>
        tr:hover {
            background-color: navy;
            color: white;
        }
    </style>
</head>
<body>
<h1>공지사항</h1>

<a href='form'>새 글</a>([[${pageNo}]], [[${maxPageNo}]], [[${pageSize}]])
<table border='1' id="xx-notice-table">
    <thead>
    <tr>
        <th id="noSort">번호</th>
        <th id="titleSort" data-type="" data-th-data-type="${titleSort}">제목</th>
        <th>작성자</th>
    </tr>
    </thead>
    <tbody data-page-no="1" data-th-data-page-no="${pageNo}"
           data-page-size="3" data-th-data-page-size="${pageSize}"
           data-max-page-no="5" data-th-data-max-page-no="${maxPageNo}">
    <tr data-th-each="notice : ${notices}" data-th-fragment="page">
        <td data-th-text="${notice.no}">100</td>
        <td>
            <a href='detail?no=1'
               data-th-href="@{detail(no=${notice.no})}"
               data-th-text="${notice.title == ''} ? '(제목없음)' : ${notice.title}">제목</a>
        </td>
        <td data-th-text="${notice.writer.name}">홍길동</td>
        <td data-th-text="${notice.createDate}">2022-1-1</td>
    </tr>
    </tbody>
</table>

검색어: <input type="text" name="keyword" value="검색어" data-th-value="${keyword}">
<button id='searchBtn'>검색</button><br>
<p>
    <a href='.' id="xx-prev-btn">이전</a>
    <a href='.' id="xx-next-btn">다음</a>
    <a href='../'>메인</a>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    var titleSort = document.querySelector("#titleSort");
    var sortType = titleSort.getAttribute("data-type");
    var noticeTableBody = $("#xx-notice-table > tbody");

    var flag = "제목";

    var pageNo = noticeTableBody.attr("data-page-no");
    var pageSize = noticeTableBody.attr("data-page-size");
    var maxPageNo = noticeTableBody.attr("data-max-page-no");

    if (sortType == "" || sortType == null) {
        titleSort.innerHTML = "제목";
    } else if (sortType == "desc") {
        titleSort.innerHTML = "제목&#30;";
    } else {
        titleSort.innerHTML = "제목&#31;";
    }

    $("#xx-prev-btn").click((e) => {
        e.preventDefault(); // 태그의 원래 행위를 막는다.
        if (pageNo > 1) {
            pageNo--;
        }
        search();
    });
    $("#xx-next-btn").click((e) => {
        e.preventDefault(); // 태그의 원래 행위를 막는다.
        if (pageNo < maxPageNo) {
            pageNo++;
        }
        search();
    });

    document.querySelector("#searchBtn").onclick = () => {
        search();
    };

    document.querySelector("#titleSort").onclick = (e) => {

        console.log(sortType);
        var flag = "제목";
        if (sortType == "" || sortType == null) {
            sortType = "desc";
            flag += "&#30;";
        } else if (sortType == "desc") {
            sortType = "asc";
            flag += "&#31;";
        } else {
            sortType = "";
            flag += "";
        }
        console.log(sortType);
        e.target.setAttribute("data-type", sortType);
        e.target.innerHTML = flag;

        var sortParam = ""
        if (sortType != "") {
            sortParam = "&titleSort=" + sortType;
        }
        search(sortParam);
    };

    function search(sortParam) {
        var params = {
            "pageNo": pageNo,
            "pageSize" : pageSize
        };
        if (sortParam != undefined) {
            params.sortParam = sortParam;
        }
        var keyword = document.querySelector("input[name=keyword]").value;
        if (keyword != "") {
            params.keyword = window.encodeURIComponent(keyword);
        }
        console.log(params);
        noticeTableBody.load("list-ajax", params);
    }
</script>
<p><a href='../'>메인</a></p>
</body>
</html>



    